# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.migrations/
media/
staticfiles/
*.env

# Docker
docker-compose.override.yml
docker-compose.prod.yml
docker-compose.dev.yml
Dockerfile.dev
Dockerfile.prod

# VS Code
.vscode/
.history/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db