<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить полигон</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Добавить полигон</h1>
        <form id="polyForm" method="POST" action="{% url 'polygon_create' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Название:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="coordinates">Координаты (широта, долгота):</label>
                <textarea class="form-control" id="coordinates" name="coordinates" rows="5" required></textarea>
            </div>

            <button type="button" class="btn btn-secondary" onclick="addCoordinates()">Добавить координаты</button>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

        <a href="{% url 'polygon_map' %}" class="btn btn-success mt-3">Перейти на карту</a>

        <h2 class="mt-5">Сохраненные полигоны</h2>
        <table class="table table-bordered mt-3">
            <thead class="thead-light">
                <tr>
                    <th>Название</th>
                    <th>Полигон</th>
                    <th>Пересекает антимеридиан</th>
                </tr>
            </thead>
            <tbody>
                {% for polygon in polygons %}
                <tr>
                    <td>{{ polygon.name }}</td>
                    <td>{{ polygon.polygon }}</td>
                    <td>{{ polygon.crosses_antimeridian }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Нет сохраненных полигонов</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<script>
const form = document.getElementById("polyForm");
const name = document.getElementById('name');
const coordinates = document.getElementById('coordinates');

form.addEventListener('submit', (event) => {
    event.preventDefault();
    handleSubmit();
});

function handleSubmit() {
    const nameValue = name.value;
    const coordinatesValue = coordinates.value.split("\n");

    const filteredCoordinates = coordinatesValue.filter(coord => coord !== "");

    if (filteredCoordinates.length < 4) {
        alert("Мало точек. Пожалуйста, добавьте как минимум 4 точки.");
        return;
    } else if (filteredCoordinates[0] !== filteredCoordinates[filteredCoordinates.length - 1]) {
        alert("Полигон не замкнут. Первая и последняя точка полигона должны быть одинаковыми");
        return;
    }

     for (let i = 0; i < filteredCoordinates.length; i++) {
        const coords = filteredCoordinates[i].trim();
        if (coords) {
            const parts = coords.split(",").map(part => part.trim());
            if (parts.length !== 2) {
                alert(`Некорректный формат координат на строке ${i + 1}. Ожидается 'широта, долгота'.`);
                return;
            }
            const lat = parseFloat(parts[0]);
            const lon = parseFloat(parts[1]);

            if (isNaN(lat) || isNaN(lon) || lat < -90 || lat > 90 || lon < -180 || lon > 180) {
                alert(`Некорректные значения координат на строке ${i + 1}. Широта должна быть в диапазоне -90 до 90, долгота -180 до 180.`);
                return;
            }
        }
    }

    const formData = new FormData();
    formData.append('name', nameValue);
    formData.append('coordinates', filteredCoordinates.join("\n"));
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    fetch("{% url 'polygon_create' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        },
    })
    .then(response => {
        if (!response.ok) {
            return response.text().then(text => {
                throw new Error(text);
            });
        }
        return response.json();
    })
    .then(polygons => {
        updatePolygonsTable(polygons);
    })
    .catch(error => console.error('Ошибка:', error));
}

function updatePolygonsTable(polygons) {
    const tbody = document.querySelector("table tbody");
    tbody.innerHTML = "";

    if (polygons.length === 0) {
        const row = document.createElement("tr");
        row.innerHTML = '<td colspan="3" class="text-center">Нет сохраненных полигонов</td>';
        tbody.appendChild(row);
    } else {
        polygons.forEach(polygon => {
            const row = document.createElement("tr");
            row.innerHTML = `<td>${polygon.name}</td><td>${polygon.polygon}</td><td>${polygon.crosses_antimeridian}</td>`;
            tbody.appendChild(row);
        });
    }
}

function addCoordinates() {
    const lat = prompt('Введите широту:');
    const lon = prompt('Введите долготу:');
    if (lat && lon) {
        coordinates.value += `${lat}, ${lon}\n`;
    }
}
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>